---
import Carousel from '../components/Carousel.astro';
import Layout from '../layouts/Layout.astro';
import Buscador from '../components/Buscador';
---

<Layout title="Welcome to Astro.">
	<main class="mx-auto">
		<Carousel/>
		<Buscador/>
	</main>
</Layout>