---

---

<section class="especial">
  <div class="swiper h-full">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide relative">
        <div
          class="contenido absolute bg-gradient-to-br from-slate-900/90 to-transparent
                w-full h-full"
        >
          <div class="max-w-[1240px] h-full w-full justify-center  mx-auto left-0 right-0">
            <div class="grid grid-cols-2 h-full">
                <div class="item flex items-center justify-center">
                    <img 
                        class="h-[70%] w-[100%]" 
                        src="/carousel/carro-1.svg" 
                        alt="Imagen de pruebas" 
                    />
                </div>
            </div>
          </div>
        </div>
        <img class="w-full h-full" src="/carousel/1.png" alt="" />
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <!-- If we need pagination -->
    <!-- <div class="swiper-pagination"></div> -->

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
<style>
    .especial
    {
        height: calc( 100vh - 87.84px );
    }
    .swiper-button-prev
    {
      background-color: #172C48;
      left: 0;
      padding: 3.5rem 1.5rem;
      /* border-radius: 5px; */
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #FFF;
      font-size: 0.5rem;
    }
    .swiper-button-next
    {
      background-color: #172C48;
      right: 0;
      padding: 3.5rem 1.5rem;
      /* border-radius: 5px; */
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #FFF;
      font-size: 0.5rem;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after
    {
      font-size: 1.8rem;
      font-weight: bolder;
    }
</style>
<script>
  import Swiper from "swiper";
  import { Navigation, Pagination } from "swiper/modules";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  // init Swiper:
  const swiper = new Swiper(".swiper", {
    // configure Swiper to use modules
    modules: [Navigation, Pagination],
    loop: true,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
