---

---

<header class="bg-blue-900 min-h-[10vh] py-3 px-2">
  <div class="max-w-[1240px] mx-auto flex items-center justify-between">
    <img src="logo.svg" class="object-cover" alt="Logo Holy Travel" />

    <ul class="flex items-center">
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Inicio</a>
      </li>
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Reserva</a>
      </li>
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Promociones</a>
      </li>
      <li>
        <a class="text-bold text-white text-xl font-medium" href=""> Consultar</a>
      </li>
    </ul>
  </div>
</header>
