---

---

<header class="bg-custom min-h-[8vh] py-3 px-2 flex items-center justify-center w-full mx-auto">
  <div class="max-w-[1240px] mx-auto flex justify-between w-full">
    <img src="logo.png" class="object-contain w-40" alt="Logo Holy Travel" />

    <ul class="flex items-center">
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Inicio</a>
      </li>
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Reserva</a>
      </li>
      <li>
        <a class="text-bold text-white mr-5 text-xl font-medium" href=""> Promociones</a>
      </li>
      <li>
        <a class="text-bold text-white text-xl font-medium" href=""> Consultar</a>
      </li>
    </ul>
  </div>
</header>
